* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 202, 202);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    position: relative;
    height: 90px;
    bottom: 7px;
    left: 50px;
    border-radius: 50px 50px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 1.32cm;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar select {
    width: 70px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar input {
    text-align: center;
    padding: 15px;
    width: 600px;
    border: none;
    outline: none;
}

.search-bar button img {
    margin-left: -5px;
    width: 60px;
    height: 6vh;
    border-radius: 0px 5px 5px 0px;
    border: none;
    cursor: pointer;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions .icon {
    position: relative;
    margin-left: 6px;
    font-size: larger;
}

.user-actions .badge {
    position: absolute;
    top: -5px;
    right: -1px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 12vh;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 540;
    transition: color 0.3s;
}

nav a:hover {
    color: green;
}

.address {
    display: flex;
    margin-top: 170px;
}

#h2-heading {
    font-size: medium;
}

pre {
    font-size: small;
    margin-left: 70px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.timing {
    padding-left: 36rem;
}

#para-timing {
    font-size: 15px;
    padding-top: 20px;
}

.form-container {
    height: 450px;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f8fb;
    position: relative;
}

section input[type="text"],
input[type="email"],
section select {
    width: 100%;
    padding: 8px;
    margin: 15px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
}

.submit {
    background-color: rgb(56, 231, 56);
    padding-right: 10px;
    padding-bottom: 10px;
    right: 20px;
    bottom: 20px;
    border: none;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.address-header {
    display: flex;
    align-items: center;
    margin-left: 70PX;
}

.address-header i {
    color: rgb(37, 214, 37);
}

.footercontainer {
    padding: 15px 20px 0px 20px;
    margin-top: 90px;
    background-color: rgb(54, 202, 202);
    position: relative;
}

.container {
    display: flex;
    height: 200px;
}

.feedback {
    width: 50%;
    padding: 30px;
}

.details {
    padding: 10px;
}

.details a {
    text-decoration: none;
    color: black;
}

.store-address {
    display: flex;
}

.myicons {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.myicons i:hover {
    cursor: pointer;
}

.myicons i {
    margin: 8px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    gap: 5px;
}

.copyright i {
    margin: 0;
}

.useful-links {
    list-style-type: none;
}

.useful-links a {
    color: black;
    text-decoration: none;
    font-size: small;
}

.useful-links a:hover {
    color: blue;
    cursor: pointer;
}

.usefulLink {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 30px;
}

.useful-links li {
    font-size: small;
    margin: 5px;
}

.info {
    width: 800px;
    padding: 30px;
}

.useful-links li p {
    text-decoration: underline;
}