header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(54, 202, 202);
    position: fixed;
    top: 0;
    width: 1165px;
    z-index: 2;
    box-sizing: border-box;
    /* border-bottom: 1px solid #ddd; */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    position: relative;
    height: 90px;
    bottom: 7px;
    left: 80px;
    border-radius: 50px 50px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 1.32cm;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar select {
    width: 70px;
    height: 8.4vh;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar input {
    text-align: center;
    padding: 15px;
    width: 600px;
    height: 3.3vh;
    border: none;
    outline: none;
}

.user-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-actions .icon {
    position: relative;
    margin-left: 3px;
}

.user-actions .badge {
    position: absolute;
    top: -5px;
    right: -1px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 1px 3px;
    font-size: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    top: 15vh;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 540;
    transition: color 0.3s;
}

nav a:hover {
    color: green;
}

.search-bar button img {
    margin-left: -5px;
    width: 60px;
    height: 8vh;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.container {
    margin: auto;
    padding: 30px;
    color: #333;
}

.Highlight {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details a:hover,
i:hover {
    color: green;
}

.details a {
    font-size: small;
    color: black;
    text-decoration: none;
}

.details {
    padding-top: 10px;
}

.desc {
    display: flex;
    padding-top: 30px;
}

.useful-links {
    color: red;
    list-style-type: none;
    padding-top: 20px;
}

.useful-links a {
    color: black;
    text-decoration: none;
    font-size: small;
}

.useful-links a:hover {
    color: green;
    cursor: pointer;
}

.usefulLink {
    width: 175px;
    display: flex;
    align-items: flex-start;
}

.useful-links li {
    margin-bottom: 20px;
    font-size: small;
}

.copyright {
    display: flex;
    font-size: small;
    color: grey;
}

.details i:hover {
    cursor: pointer;
}

.CleanEase img {
    width: 50%;
    height: 300px;
}

.CleanEase {
    display: flex;
    padding-top: 150px;
}

.msg {
    font-size: medium;
    font-weight: 700;
    margin-top: 50px;
}